application:
    mapping:
        *: ThreadMesh\Dashboard\Presenters\*Presenter

services:
    router: ThreadMesh\Dashboard\Router\RouterFactory::createRouter()
    - ThreadMesh\Dashboard\Model\ThreadMeshApi(%threadmeshApiUrl%, %threadmeshApiToken%)
    - ThreadMesh\Dashboard\Model\EmailHtmlSanitizer
